In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv(r"C:\Users\shafqat Ali\OneDrive\Documents\dummydata.csv")
df=pd.DataFrame(data)
df

   ID  Product     Category  Price  Quantity  Total_Sales  Rating
0   1   Laptop  Electronics  55000         2       110000     4.5
1   2    Mouse  Electronics    800         5         4000     4.0
2   3    Shoes      Fashion   2000         3         6000     3.8
3   4  T-shirt      Fashion    500         4         2000     4.2
4   5     Book   Stationery    300         6         1800     4.7

In [4]:
df.isnull().sum()

ID             0
Product        0
Category       0
Price          0
Quantity       0
Total_Sales    0
Rating         0
dtype: int64

In [5]:
df.dtypes

ID               int64
Product         object
Category        object
Price            int64
Quantity         int64
Total_Sales      int64
Rating         float64
dtype: object

In [18]:
col=['Product','Category']
for i in col:
    df[i]=df[i].str.strip()
    df[i] = df[i].str.strip().str.lower()

In [ ]:
 # Kaun-sa product sabse zyadh sales laata hai?
df.loc[df['Total_Sales'].id]

In [8]:
 # Kaun-sa product sabse kam sales laata hai?
df.loc[df['Total_Sales'].idxmin(),'Product']

'Book'

In [9]:
# Kis category me total quantity sabse zyada bikti hai?
df.loc[df['Quantity'].idxmax(),'Category']

'Stationery'

In [10]:
# Kis product ka price highest hai?
df.loc[df['Price'].idxmax(),'Product']

'Laptop'

In [11]:
# Kis product ka rating lowest hai?
df.loc[df['Rating'].idxmin(),'Product']

'Shoes'

In [12]:
# Category-wise total sales kitni hai?
df.groupby('Category')['Total_Sales'].sum()

Category
Electronics    114000
Fashion          8000
Stationery       1800
Name: Total_Sales, dtype: int64

In [13]:
df.groupby('Product')['Total_Sales'].sum()

Product
Book         1800
Laptop     110000
Mouse        4000
Shoes        6000
T-shirt      2000
Name: Total_Sales, dtype: int64

In [14]:
# Category-wise average rating kya hai?
df.groupby('Category')['Rating'].mean()

Category
Electronics    4.25
Fashion        4.00
Stationery     4.70
Name: Rating, dtype: float64

In [15]:
# Price aur Rating ka relation kya dikh raha hai?
df[['Price','Rating']].corr()

        Price  Rating
Price   1.000   0.378
Rating  0.378   1.000

In [16]:
# Kis category ka average price sabse zyada hai?
result = df.groupby('Category')['Price'].mean().sort_values(ascending=False)

print(result)

Category
Electronics    27900.0
Fashion         1250.0
Stationery       300.0
Name: Price, dtype: float64

In [17]:
a=df[df['Category']=='Fashion']['Total_Sales'].sum()
print(a)

8000